@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800;900&display=swap');

$preto: #333;
$cinza1: #4a4a4a;
$vinho: #831e00;
$bege1: #f5f3f0;
$bege2: #f5f0f0;

body {
  margin: 0;
  padding: 0;
  color: $preto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  
  @media(orientation:landscape){
    margin: 100px 0 0 0;
  }
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
}

h1,
h2,
h3,
h4,
h5 {  
  font-weight: 800;
  margin: 0 0 20px 0;  
  line-height: 1; 
  font-family: 'Montserrat', sans-serif; 

  strong {
    color: $vinho;
  }
}

h2{
  font-size: 2.75rem;  
  font-family: 'Montserrat', sans-serif;

  @media(orientation:portrait){
    font-size: 2rem;
  }
}

h3{
  font-weight: 500;
  font-size: 1.8rem;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
  }
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 2rem;
}

#main{
  a,
  a:active,
  a:visited {
    color: $preto;
    text-decoration: none;
    outline: none !important;

    &:hover {
      color: $vinho;
    }
  }
}

label {
  color: #666;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.form-item {
  width: 100%;
  margin: 0 0 20px 0;

  p {
    margin: 0;
  }
}

p.form-row {
  margin: 0 0 15px 0 !important;
}

form {
  display: flex;
  flex-wrap: wrap;

  .form-item:nth-child(even) {
    width: 48%;
    margin: 0 0 15px 0;
  }

  .form-item:nth-child(odd) {
    width: 48%;
    margin: 0 0 15px 0;
  }

  .form-item.textarea {
    width: 100%;
    margin: 0 0 0 0;
  }

  input[type="submit"] {
    background: $preto;

    &:hover {
      background: #000;
    }
  }

  .wpcf7-not-valid-tip {
    color: #fff;
    padding: 5px 10px;
  }

  .wpcf7-response-output {
    background: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
  }

  form.sent.wpcf7-response-output {
    background: #46b450;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea,
select {
  width: 100%;
  background: #fafafa;
  margin-bottom: 10px;
  font-size: 16px;
  outline: none !important;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-width: 1px 1px 2px 1px;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 0 5px;
  color: $preto;
  font-family: 'Raleway', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @media (max-width: 767px) {
    padding: 5%;
    width: 100%;
    margin: 0;
  }
}


input[type=radio] {
  opacity: 1;
  border: 1px solid #757575;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-right: 7px;
}

input[type=radio]:checked {  

  &:after{
    content: "";
    width: 12px;
    height: 12px;
    background: $vinho;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    transition: all 0.2s ease;
  }  
}


input[type="checkbox"] {  
  -webkit-appearance: none;
  appearance: none;  
  margin: 0;
  font: inherit;
  color: $vinho;
  width: 1.1em;
  height: 1.1em;
  border: 1px solid #000;  
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  float: left;
  margin: 7px 10px 0 0;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $vinho;  
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {  
  color: $vinho;
  cursor: not-allowed;
}




button,
input[type='submit'] {
  color: #fff;
  background: $vinho;
  padding: 15px 30px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  /*outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */ 
  font-size: 18px;
  border-radius: 5px;
  color: #fff;

  &:hover {
    background: $preto;    
  }
}


a.btn {
  color: #fff;
  background: $vinho;
  padding: 4px 40px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;    
  font-weight: 800;  
  font-size: 18px;
  border-radius: 25px;
  transition: all .3s;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background: $preto; 
    color: #fff;   
  }
}

.wpcf7-response-output {
  color: #666;
}

img {
  max-width: 100%;  
  height: auto;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  display: flex;

  @media(min-width:1600px) {
    max-width: 1400px;
  }

  @media(orientation:portrait) {
    padding: 7%;
    flex-direction: column;
  }

  .content{  
    width: 100%;  
    @media(orientation:landscape){
      width: 75%;
    }
  }
  #sidebar{
    position: relative;    
  }
}


.slick-slider {
  margin-bottom: 0 !important;
  
ul.slick-dots{
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  text-align: center;

  li{
    display: inline-block;
    button{
      text-indent: -5000em;
      background: transparent;
      padding: 0;
      width: 15px;
      height: 15px;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0 5px;

      &::before{
        display: none;
      }
    }
  }
  li.slick-active{
    button{
      background: #fff;
    }
  }
}

}

