/*--------------------------------------------*/
/* menu button */
.menuBtn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 56px;
  right: 25px;
  cursor: pointer;  
  z-index: 1;    

  >span {
    background-color: #fff;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    transition: height 100ms;

    &:after,
    &:before {
      content: '';
      background-color: #fff;
      border-radius: 1px;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 50%;
      margin-left: -15px;
      transition: all 200ms;
    }

    &:after {
      top: -7px;
    }

    &:before {
      bottom: -7px;
    }
  }
}

.menuBtn.header {
  z-index: 50;
  
  @media(orientation:landscape){
    display: none;
  }

  &.act {
    >span {
      height: 0;

      &:after,
      &:before {
        top: 1px;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}


/* main menu block */
.menu-mobile {
  overflow: hidden;
  position: relative;

  .mainMenu {
    position: absolute;
    left: 0;
    top: 89px;
    z-index: 10;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 500ms;
    transform: scale(0);
    background: #000;

    .menu-menu-principal-container {
      display: flex;
      flex-direction: column;
      justify-content: center;      
    }

    ul {
      li {
        margin: 0 0 10px 0;
        padding: 0 0 5px 5px; 
        
        a{
          font-weight: 700;          
          text-transform: none;          
          letter-spacing: 3px;       
          color: #fff;
          padding: 7px 0;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 400;    

          strong{
            font-weight: 800;
          }
        } 
        
        a.btn{
          font-size: 14px;
          padding: 5px 20px;
          margin-top: 10px;
        }
        
        .sub-menu{
          padding-left: 10px;

          li{
            a{
              font-weight: 300;  
              text-transform: none;   
              padding: 2px 0;               
            }
          }      
          #menu-item-198{
            border-bottom: none;                              
          }
        }
      }

    }

    li {
      padding: 0;
      transition: all 400ms 510ms;
      opacity: 0;
      text-align: left;      

      &:nth-child(odd) {
        transform: translateX(30%);
      }

      &:nth-child(even) {
        transform: translateX(-30%);
      }

      &:last-child {
        transform: none;
      }
    }
  }
}

body.act{
  overflow: hidden;
}

.menu-mobile.act {
  .mainMenu{
    opacity: 1;
    transform: scale(1);
    position: fixed;
    left: 0;
    padding: 10% 5% 0 5%;
    height: calc(100vh - 58vw);
    top: 58vw;

    ul {
      display: block;
      flex-direction: column;

      li {
        margin-bottom: 0;
        opacity: 1;
        transform: translateX(0);
    }
  }
  }
}


  
#main-menu-mobile-2{ 

  @media(orientation:landscape){
    display: none !important;
  }
 
  overflow-x: scroll;
  background: $vinho;

  ul#menu-menu-principal-2{
    display: flex;
    li{            
      display: inline-block;
      a{
        color: #fff !important;
        display: inline-block;
        padding: 40px 15px 15px 15px;
        display: inline-block;        
        width: 140px;
        height: 125px;
        text-align: center;        
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: center 15px;

        span{
          width: 100%;
          display: inline-block;          
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    li.menu-item-188 a {background-image: url(img/ico-selecao.png);}
    li.menu-item-190 a {background-image: url(img/ico-vinhos.png);}
    li.menu-item-209 a {background-image: url(img/ico-harmonizacao.png);}
    li.menu-item-80 a {background-image: url(img/ico-receitas.png);}
    li.menu-item-193 a {background-image: url(img/ico-dicas.png);}

    li.menu-item-158 a {background-image: url(img/ico-sommelier.png);}
    li.menu-item-52 a {background-image: url(img/ico-vinhos.png);}
    li.menu-item-186 a {background-image: url(img/ico-harmonizacao.png);}
    li.menu-item-53 a {background-image: url(img/ico-receitas.png);}
    li.menu-item-48 a {background-image: url(img/ico-dicas.png);}


  }
}
